.job-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.job-container h1 {
    margin-top: 3rem;
}

.job-container h2 {
    margin-bottom: 2rem;
} 

.job-container p {
    margin-bottom: 1rem;
}

.job-container h5 {
    margin-bottom: 0.5rem;
}

.skill-specifications {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skill-specifications ul {
    margin-left: 1.5rem;
}