.blog-post-container {
    padding: 4rem 0;
}

/* Blog component styling */
.blog-post {
    justify-content: flex-start !important;
    gap: 2rem;
    padding: 1rem 0;
}

.blog-img-container {
    height: 150px;
    width: 200px;
    overflow: hidden;
}

.blog-img-container > img {
    height: 100%;
}

.blog-title > a {
    text-decoration: none;
    color: var(--main-font-color);
}

.blog-title:hover > a {
    text-decoration: underline;
}

.blog-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 450px;
}

.blog-footer {
    display: flex;
    gap: 1rem;
}