:root {
    --main-font: 'Catamaran', sans-serif;
}

/* General Styles */

* {
    font-family: var(--main-font);
}


li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
}

svg {
    height: 30px;
}

/* Container Styles */

.main-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
}

    .navbar > * {
        display: inline-block;
    }

    .nav-collapse-btn {
        display: none;
        position: absolute;
        right: 1.5rem;
    }

@media  screen and (max-width: 500px) {
    .nav-items {
        position: absolute;
        top: 0;
        right: -100vw;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        background-color: white;
        transition: all 300ms ease-in;
    }

    .nav-collapse-btn {
        display: inline-block;
    }

    .nav-items-active {
        right: 0;
    }
}