:root {
    --main-font: sans-serif;
}

/* General Styles */

* {
    font-family: var(--main-font);
}


li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
}

.icon {
    height: 30px;
}

section > h2 {
    margin-bottom: 1.5rem;
}

/* Typography */

h1, h2, h3, h4, h5 {
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

@media screen and (max-width: 600px) {
    h1, h2, h3, h4, h5 {
        font-weight: 400;
        line-height: 1.3;
      }
      
      h1 {
        font-size: 2.488rem;
      }
      
      h2 {font-size: 2.074rem;}
      
      h3 {font-size: 1.728rem;}
      
      h4 {font-size: 1.44rem;}
      
      h5 {font-size: 1.2rem;}
}

/* Container Styles */

.container {
    width: min(100%, 1000px);
    margin: 0 auto;
    padding: 2rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7.5rem;
}

.split {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.bio {
    width: 450px;
}

/* Component styles */

.btn {
    padding: 0.5rem;
    width: 300px;
    text-align: center;
}

/* navbar styles */

.navbar {
    width: 100%;
}
    
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-collapse-btn {
        position: absolute;
        right: 1.5rem;
        display: none;
    }

@media  screen and (max-width: 500px) {
    .nav-items {
        position: absolute;
        top: 0;
        right: -100vw;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        background-color: white;
        transition: all 300ms ease-in;
    }

    .nav-collapse-btn {
        display: inline-block;
    }

    .nav-items-active {
        right: 0;
    }
}

/* About Section */

.profile-pic {
    height: 300px;
    border-radius: 20px;
}

/* Skills Section */

.skills-bio > p {
    margin-bottom: 1rem;
}

.skill-cards-container {
    display: grid;
    gap: 1.5rem;
    align-items: center;
    width: 300px;
}

    .skill-card {
        display: grid;
    }


/* Projects Section */

.project-card {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1.5rem;
    width: min(100%, 450px);
}

    .project-links {
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;
    }

/* Contact Section */

#contact {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#contact-form {
    display: grid;
    gap: 0.75rem;
    width: min(100%, 600px);
}

    .form-input {
        display: flex;
        flex-direction: column;
    }

/* Footer */

footer {
    padding: 1.5rem 0;
    gap: 1rem;
}

    .submit-btn {
        margin: 0 auto;
        margin-top: 0.5rem;
    }