:root {
    --main-font: 'Catamaran', sans-serif;
}

/* General Styles */

* {
    font-family: var(--main-font);
}


li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
}

svg {
    height: 30px;
}

/* Container Styles */

.main-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar > * {
        display: inline-block;
    }

    .nav-collapse-btn {
        display: none;
    }

@media  screen and (max-width: 500px) {
    .nav-items {
        display: none;
    }

    .nav-collapse-btn {
        display: inline-block;
    }

    .nav-items-active {
        display: block;
    }
}